body{
	font-family: sans-serif;
	background-color: #F3F2F2;
}

.lanes {
	width: 300px;
	margin-right: 2%;
	float: left;
}

.title {
	font-size: 18px;
  margin-bottom: 10px;
	text-align: center;
	padding-bottom: 10px;
  border-bottom: solid 1px lightblue;

}

.lane{
	padding:10px;
}

.lane .add-card-btn{
	position: relative;
	text-align: left;
	bottom: -40px;
}

.card {
	margin-right: 10px;
	padding: 15px;
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.card-content{
	margin-bottom: 10px;
}

.votes{
	top: -8px;
	right: -1px;
	padding: 10px !important;
}

.number-of-likes{
	float: left;
	width: 30px;
}

.like-btn {
	float: right;
}
